.titoo{
  background: linear-gradient(45deg, #6675f7, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size : 50px;
  font-weight: bold;
}


.contact-form {
  max-width: 2000px; /* Adjust as needed */
  margin: auto;
  padding: 40px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form h2 {
  margin-bottom: 30px;
  color: #333;
  font-size: 28px;
}

.contact-info {
  text-align: left;
}

.contact-form form {
  margin-top: 10px;
}

.form-group1 {
  position: relative;
}

.form-group1 input,
.form-group1 textarea {
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 30px; /* Increased spacing between inputs */
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group1 textarea {
  height: 200px; /* Increased height for the message textarea */
  resize: none;
}

.form-group1 input:focus,
.form-group1 textarea:focus {
  outline: none;
  background-color: transparent;
  border-color: #6675f7;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.form-group1 label {
  position: absolute;
  left: 15px;
  top: calc(50% - 10px); /* Adjusted to center properly */
  transform: translateY(-50%);
  transition: top 0.3s, font-size 0.3s;
  pointer-events: none;
  color: #aaa;
  font-size: 18px;
}

.form-group1 input:focus ~ label,
.form-group1 textarea:focus ~ label,
.form-group1 input:not(:placeholder-shown) ~ label,
.form-group1 textarea:not(:placeholder-shown) ~ label {
  top: -10px;
  font-size: 14px;
  color: #6675f7;
}

.contact-form button {
  display: block;
  width: 250px;
  padding: 15px;
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to left, #6675f7, #57007b);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form button:hover {
  background: none;
  color: #6675f7;
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border: 3px solid;
  border-image: linear-gradient(to right, #57007b, #6675f7);
  border-image-slice: 1;
}
