.containero {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .titlo {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .formo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .labelo {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .selecto {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
  }
  
  .subjectso {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }
  
  .subjecto-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;
  }
  
  .subjecto-label {
    margin-bottom: 5px;
  }
  
  .subjecto-input-field {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid gray;
    outline: none;
    transition: border-bottom-color 0.3s ease;
  }
  
  .subjecto-input-field:focus {
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #57007b, #6675f7) 1;
  }
  
  .submito-button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #57007b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submito-button:hover {
    background: none;
    color: #6675f7;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: 3px solid;
    border-image: linear-gradient(to right, #57007b, #6675f7);
    border-image-slice: 1;
  }
  
  .results {
    margin-top: 20px;
    text-align: center;
  }
  
  .results-title {
    margin-bottom: 10px;
  }
  
  .average, .final-grade {
    font-size: 1.2em;
  }
  