.filter-form {
    padding: 20px;
    background-color:transparent;
    
  }
  
  .options-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .custom-input {
    padding: 8px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .custom-input:hover {
    border-color: #6675f7;
    box-shadow: 0 0 8px rgba(102, 117, 247, 0.5);
  }
  
  .option {
    flex: 1;
  }
  
  .slider-row {
    margin-top: 20px;
  }
  
  .slider-container {
    padding: 20px 0;
  }
  
  .range-track {
    position: relative;
    height: 8px;
    background-color: #ccc;
    border-radius: 4px;
  }
  
  .range-thumb {
    position: absolute;
    top: -5px;
    height: 16px;
    width: 16px;
    background-color: #6675f7;
    border-radius: 50%;
    box-shadow: 0px 2px 6px #aaa;
    z-index: 2;
  }
  
  .range-thumb:first-child {
    left: calc(0% - 8px);
  }
  .range-thumb {
    position: absolute;
    top: -5px;
    height: 20px;
    width: 20px;
    background-color: #6675f7;
    border-radius: 50%;
    box-shadow: 0px 2px 6px #aaa;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .range-thumb.is-dragged {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(102, 117, 247, 0.8);
  }
  
  .range-values {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .range-label {
    font-weight: bold;
  }
  
  

  
  .apply-button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #57007b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  
  }
  .apply-button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  
  .apply-button:hover {
    background: none;
    color: #6675f7;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: 3px solid;
    border-image: linear-gradient(to right, #57007b, #6675f7);
    border-image-slice: 1;
  }
  
  .apply-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(102, 117, 247, 0.5);
  }
  