/* Slide.css */

.slider-container {
  max-width: 100%;
  align-items: center;
  height: 200px;
  text-align: center; /* Center the content */
}

.slick-track {
  height: 200px;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 30px;
}

.slick-slider {
  height: 200px;
  margin: 0 auto; /* Center the slider horizontally */
}

.custom-card {
  width: 400px; /* Adjusted width of each card */
  border: 2px solid transparent;
  border-radius: 10px;
  margin-top: 20px;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
  cursor: pointer;
}

.custom-card.active {
  transform: translateY(25px) scale(1.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-image: linear-gradient(45deg, #6675f7 78%, #57007b) 1;
}

.card-title {
  font-size: 1.2rem;
  text-align: center;
  transition: color 0.3s ease;
}

.card-title.active {
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #6675f7, #57007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-title:not(.active) {
  color: gray;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.card-icon img {
  width: 55px; /* Set the width of the image */
  height: 50px; /* Set the height of the image */
  object-fit: contain; /* Ensure the image fits inside the container */
  padding: 5px; /* Initial border color */
}
