/* style.css */
.unis-table {
  width: 100%;
  margin: 40px auto;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

.unis-table th,
.unis-table td {
  padding: 20px;
  font-size: 1.2em;
  text-align: left;
  font-family: 'Inter', sans-serif;
}

.unis-table th {
  background-color: #6a54a7;
  color: #fff;
  font-weight: bold;
}

.unis-table tr {
  transition: background-color 0.3s, transform 0.2s;
}

.unis-table tr:hover {
  transform: scale(1.01);


}

.unis-table tr:nth-child(even) {
  background-color: #f4f6f8;
}

.page-title {
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 2.5em;
  text-align: center;
  background-image: linear-gradient(to right, #6675f7 5%, #57007b 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
